@model List<core.phoneDevice.PhoneModel>
@{
    ViewData["Title"] = "Home Page";
}



<div class="row">

    <table class="table table-bordered">
        <caption>设备列表</caption>
        <thead>
            <tr>
                <th>No.</th>
                <th>deviceName</th>
                <th>model</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var m in Model) {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@m.device</td>
                    <td>@m.model</td>
                </tr>
            }
          
        </tbody>
    </table>
</div>
