@model List<core.phoneDevice.PhoneModel>
@{
    ViewData["Title"] = "Device List";
}



<div class="row">

    <table class="table table-bordered">
        <caption>
            Device List
            <div class="pull-right">
                @if (User.Identity.IsAuthenticated) {
                    <a asp-area="" asp-controller="Home" asp-action="Refresh" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>

                    <a asp-area="" asp-controller="Home" asp-action="StartRun" class="btn btn-primary"><span class="glyphicon glyphicon-forward"></span> Run All (@ViewBag.task)</a>
                }

            </div>
        </caption>
        <thead>
            <tr>
                <th>No.</th>
                <th>DeviceName</th>
                <th>Model</th>
                <th>Status</th>
                <th>Setting</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var m in Model) {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@m.Device</td>
                    <td>@m.Model</td>
                    <td>

                        @if (m.phoneStatus == core.phoneDevice.PhoneStatus.OnLine) {

                            <span class="glyphicon glyphicon-globe online" title="OnLine"></span>
                        } else if (m.phoneStatus == core.phoneDevice.PhoneStatus.RunCase) {
                            <span class="glyphicon glyphicon-play online" title="RunCase"></span>

                        } else if (m.phoneStatus == core.phoneDevice.PhoneStatus.OffLine) {
                            <span class="glyphicon glyphicon-globe" title="OffLine"></span>

                        } else {
                            <span class="glyphicon glyphicon-remove" title="UnUse"></span>

                        }
                        
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated) {
                            <a  class="glyphicon glyphicon-remove" onclick='if (!confirm("Confirm UnUsed?")) return false;' href="/Home/UnUsed?device=@m.Device"></a>
                            <a class="glyphicon glyphicon-ok"  onclick='if (!confirm("Confirm Used?")) return false;' href="/Home/Used?device=@m.Device"></a>
                        }

                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>
